[Unit]
Description=Blinkora SQLite Web service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=weio
Group=Users
WorkingDirectory=/vol1/1000/docker/blinkora-sqlite/local
EnvironmentFile=/vol1/1000/docker/blinkora-sqlite/local/blinkora.env
ExecStart=/vol1/1000/docker/blinkora-sqlite/local/bin/blinkora-server
Restart=on-failure
RestartSec=3
TimeoutStopSec=20s
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
